body {
  background-image: url('images/dots.png');
  background-size: cover;
}


.logo {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 100px;
  margin-right: 0;
  margin-left: 10px;
  margin-top: 10px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 28px;
  padding: 42px 42px;
}

.bg-haskell {
  background-color: rgba(25, 28, 39, 0.76);
}

a.nav-link:hover {
  background-color: rgba(84, 106, 123, 0.76);
}


h1 {
  font-size: 28px;
  color: white;
}

h2 {
  font-size: 24px;
  font-style: italic;
  color: white;
}

p {
  font-size:18px;
  color: white;
}

.taustaga {
  background-color: rgba(25, 28, 39, 0.76);
  height: 100%;
}

.taustaoverlay {
  background-color: rgba(25, 28, 39, 0.55);
  height: 100%;
  width: 100%;
}


ul {
  list-style-image: url('images/arrow.svg');
  
}

.suurendatud li::marker {
  font-size: 3rem;
}

.suurendatud {
  font: size 32px;
}




.ml-auto {
  background-color: rgba(25, 28, 39, 0.76);
  margin-top: 30px;
  color: white;
}


.taustapilt {
  background-image: url(images/contact_img.jpg);
  background-position: center;
  height: 300px;
  background-size: cover;
}


.g-6, .gx-6 {
  --bs-gutter-x: 5rem;
}

p.lisa {
  font-style: italic;
} 

dream-li {
  color:white;
  font-size: 20px;
}

.hover-zoom {
  transition: all 1.2s;
}
.hover-zoom:hover {
  transform: scale(1.2); 
  background-color:rgb(25, 28, 39);
}
.kontakt {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}
.button {
    
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  .button:hover {
    color: #546A7B;
  }
  
  .direction {
    font-size: 20px;
  }


.myBtn {
  position: fixed; 
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
 font-size: 36px; /* Increase font size */
 background-color: transparent;
 border: none;
}

.myBtn:hover {
  color: #546A7B; 
  
}
footer {
margin-top: 15px;

}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 40px;
  margin-left: 70px;
  
}

a:hover {
  background-color: none;
  color: #546A7B;

}

.previous {
  background-color: none;
  color: white;
  font-size: 1.5em;
  text-decoration: underline;
  
}

.projektipilt {
  --bs-gutter-x: 9rem;
  margin-top: -30px;
  margin-left: -120px;
  margin-right: -120px;
  margin-bottom: 90px;
}